<div class="col-xs-12 col-md-12 col-lg-4">
<div class="card border border-primary">
    <img class="card-img-top" src onerror="getBreedImg(this,'<%= favorite.breed_url %>')" alt="Card image cap">
    <div class="card-body">
    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
        <%= link_to favorite.breed_name, favorite, class: 'btn btn-info'  %>
        <% heart_class = "heart-icon" %>
        <% if current_user.breeds.exists?(id: favorite.id) %>
            <% heart_class = "heart-icon-fav" %>
        <% end %>
        <%= button_to "favorites#toggleFavorite", params: { breed_id: breed.id }, remote: true, :class => "heart-button"  do %>
            <% octicon "heart", :height => 32, :"aria-label" => "heart", :class => heart_class, :onclick => "toggleHeart(this)" %>
        <% end %>
    </div>
    </div>
  </div>
  </div>