<div class="col-xs-12 col-md-12 col-lg-4">
<div class="card border border-primary">
    <img class="card-img-top" src onerror="getBreedImg(this,'<%= breed.breed_name %>')" alt="Card image cap">
    <div class="card-body">
        <%= button_to breed.breed_name.capitalize, breed, class: 'btn btn-info'  %>
    </div>
  </div>
  </div>