<div class="col-xs-12 col-md-12 col-lg-4">
<div class="card border border-primary">
    <img class="card-img-top" src onerror="getBreedImg(this,'<%= breed.breed_name %>')" alt="Card image cap">
    <div class="card-body">
    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
        <%= button_to breed.breed_name.capitalize, breed, class: 'btn btn-info'  %>
        <% heart_class = "heart-icon" %>
        <% if signed_in? %>
            <% if current_user.breeds.exists?(id: breed.id) %>
                <% heart_class = "heart-icon-fav" %>
            <% end %>
            <% heart_on_click =  "toggleHeart(this, #{current_user.id}, #{breed.id})"%>
        <% else %>
            <% heart_on_click = "alertHeart()" %>
        <% end %>
        <%= octicon "heart", :height => 32, :"aria-label" => "heart", :class => heart_class, :onclick => heart_on_click %>
    </div>
    </div>
  </div>
  </div>